registry = https://registry.npmjs.org
@sf-libs:registry = https://nexus.falabella.com/repository/ftc-seguros-falabella-npm/
//nexus.falabella.com/repository/ftc-seguros-falabella-npm/:always-auth=true
//nexus.falabella.com/repository/ftc-seguros-falabella-npm/:_auth=c2VnLWZhbGFiZWxsYTpGYWxhMjAyMQ==